#*
 * Aipo is a groupware program developed by TOWN, Inc.
 * Copyright (C) 2004-2015 TOWN, Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

#*<div class="holidayList scroll" id="holidayList">
<p>
<ul class="auiSelectButton">
 <li><a href="javascript:void(0);" onclick="aipo.system.pagerHolidayList('$!jslink.getPortletById($!portlet.ID)', $!result.PrevYear);" title="$l10n.HOLIDAY_SETTING_PREV_YEAR" class="first arrow"><i class="icon-caret-left"></i></a></li>
 <li><a href="javascript:void(0);" onclick="aipo.system.pagerHolidayList('$!jslink.getPortletById($!portlet.ID)', $!result.NextYear);" title="$l10n.HOLIDAY_SETTING_NEXT_YEAR" class="last arrow"><i class="icon-caret-right"></i></a></li>
</ul>
<div class="count"><strong>$!{result.HolidayViewYear}年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></div>
<div class="auiSetDate">
<div  class="auiSetDate" dojoType="aipo.widget.DropdownDatepicker" id="datepicker" widgetId="datepicker" iconURL="images/icon/icon_date.gif" iconAlt="$l10n.HOLIDAY_SETTING_DATE" hiddenId="p_holiday" initValue="$!{result.HolidayDate.Year}/$!{result.HolidayDate.month}/$!{result.HolidayDate.Day}" inputId="input_p_holiday" dateId="p_holiday" displayCheck="none"></div>
<input class="text" type="text" name="text" id="holiday_name" value="" maxlength="50" style="width:20;ime-mode:active" />
<input name="$event_submit" class="button" type="button" value="$l10n.HOLIDAY_SETTING_ADD" onclick="aimluck.io.setHiddenValue(this);">
</div>
</p>
<p></p>

#if($result.List.size() == 0)

#else
<p>
<table class="auiRowTable auiMbTable wide">
  <thead>
<tr>
#ALtdheadAtt($l10n.HOLIDAY_SETTING_DATE "class='thin left'")
#ALtdhead($l10n.HOLIDAY_SETTING_PERSONAL_HOLIDAY_NAME)
<th class="thin"></th>
</tr>
</thead>
 <tbody>
#foreach($record in $result.List)
<tr>
#ALtdcell("<div>$!record.HolidayDateString</div>")
#ALtdcell("<div>$!record.HolidayName</div>")
<td>
<input name="$name" class="button" type="button" value="$l10n.HOLIDAY_SETTING_DELETE" onclick="" />
</td>
</tr>
#end
#end
  </tbody>
</table>
</p>
<p></p>
</div>*#




<img src="images/common/dot.gif" width="1" height="1" onload="aipo.system.addListSort();aipo.system.addList($!{result.HolidayViewYear});" />
<div class="holidayList scroll" id="holidayList">
<p>

<ul class="auiSelectButton">
 <li><a href="javascript:void(0);" onclick="aipo.system.pagerHolidayList('$!jslink.getPortletById($!portlet.ID)', $!result.PrevYear);" title="$l10n.HOLIDAY_SETTING_PREV_YEAR" class="first arrow"><i class="icon-caret-left"></i></a></li>
 <li><a href="javascript:void(0);" onclick="aipo.system.pagerHolidayList('$!jslink.getPortletById($!portlet.ID)', $!result.NextYear);" title="$l10n.HOLIDAY_SETTING_NEXT_YEAR" class="last arrow"><i class="icon-caret-right"></i></a></li>
</ul>
<div class="count"><strong>$!{result.HolidayViewYear}年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></div>
<div class="auiSetDate">
<div  class="auiSetDate" name="holiday_date" dojoType="aipo.widget.DropdownDatepicker" id="datepicker" widgetId="datepicker" iconURL="images/icon/icon_date.gif" iconAlt="$l10n.HOLIDAY_SETTING_DATE" hiddenId="holidayDate" initValue="$!{result.HolidayDate.Year}/$!{result.HolidayDate.month}/$!{result.HolidayDate.Day}" inputId="input_holidayDate" dateId="holidayDate" displayCheck="none"></div>
<input class="text" type="text" name="holidayName" id="holidayName" value="" maxlength="50" style="width:20;ime-mode:active" />
<input name="$event_submit" class="button" type="button" value="$l10n.HOLIDAY_SETTING_ADD" onclick="aipo.system.addHoliday();aipo.system.addListSort();aipo.system.addList($!{result.HolidayViewYear});aipo.system.pagerHolidayList('$!jslink.getPortletById($!portlet.ID)', $!result.HolidayViewYear);">
</div>
</p>
<p></p>

#if($result.List.size() == 0)

#else
<p>
<table class="auiRowTable auiMbTable wide">
  <thead>
<tr>
#ALtdheadAtt($l10n.HOLIDAY_SETTING_DATE "class='thin left'")
#ALtdhead($l10n.HOLIDAY_SETTING_PERSONAL_HOLIDAY_NAME)
<th class="thin"></th>
</tr>
</thead>
 <tbody id="holidayListTable">
#foreach($record in $result.List)
<tr class="registered" id ="$!{record.HolidayDate.Year}$!{record.HolidayDate.Month}$!{record.HolidayDate.Day}" data-year="$!{record.HolidayDate.Year}" data-month="$!{record.HolidayDate.Month}" data-day="$!{record.HolidayDate.Day}">
#ALtdcell("<div>$!record.HolidayDateString</div>")
#ALtdcell("<div>$!record.HolidayName</div>")
<td>
<input name="$name" class="button" type="button" value="$l10n.HOLIDAY_SETTING_DELETE" onclick="" />
</td>
</tr>
#end
#end
  </tbody>
</table>
</p>
<p></p>
</div>